<div id="container">
    <form [formGroup]="authFormGroup" (ngSubmit)="submit()" class="mat-elevation-z2">
        <p>
          <mat-form-field>
            <input type="text" matInput placeholder="Login" formControlName="login" required>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field>
            <input type="password" matInput placeholder="Mot de passe" formControlName="password" required>
          </mat-form-field>
        </p>
        <div class="button">
          <button type="submit" mat-button>Login</button>
        </div>
    </form>
</div>
