<app-loader></app-loader>
<div id="auth-container">
  <img id="logo" src="../assets/img/logo.png" height="90" width="90">
  <form [formGroup]="authFormGroup" (ngSubmit)="submit()" class="container mat-elevation-z6">
    <div>
      <p>Login</p>
      <input type="text" placeholder="Login" formControlName="login" required autocomplete="username">
    </div>
    <div>
      <p>Password</p>
      <input type="password" placeholder="Mot de passe" formControlName="password" required autocomplete="current-password">
    </div>
    <div class="button">
      <button class="form-login" type="submit">Login</button>
    </div>
  </form>
</div>
