<app-loader></app-loader>
<app-error-handler></app-error-handler>
<div class="header">
  <h1>{{title}}</h1>
</div>

<div class="content">
  <mat-vertical-stepper [linear]="true" #stepper class="mat-elevation-z6">
    <mat-step [stepControl]="infosFormGroup">
      <form [formGroup]="infosFormGroup">
        <ng-template matStepLabel>Infos</ng-template>
        <mat-form-field>
          <input matInput placeholder="Nom" formControlName="name" required />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Lieu" formControlName="location" />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Date" [matDatepicker]="datepicker" formControlName="date" />
          <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
          <mat-datepicker #datepicker></mat-datepicker>
        </mat-form-field>
      </form>
    </mat-step>
    <mat-step [stepControl]="audienceFormGroup">
      <form [formGroup]="audienceFormGroup">
        <ng-template matStepLabel>Audience</ng-template>
        <mat-form-field>
          <input matInput type="number" placeholder="Nombre de musiciens" formControlName="playerNumber" />
        </mat-form-field>
        <mat-form-field>
          <input matInput type="number" placeholder="Nombre d'auditeurs" formControlName="spectatorNumber" />
        </mat-form-field>
        <mat-form-field>
          <input matInput type="number" placeholder="Durée" formControlName="length" />
        </mat-form-field>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Partitions</ng-template>
      <!-- Recherche -->
      <div class="searchSheets">
        <div class="searchFilter">
          <mat-form-field>
            <input matInput (keyup)="searchSheet($event.target.value)" placeholder="Recherche (3 lettres min)">
          </mat-form-field>
          <button mat-button [disabled]="sheetList.selectedOptions.selected.length === 0"
            (click)="addSheet(sheetList.selectedOptions.selected)">
            <mat-icon>add</mat-icon>Ajouter
          </button>
        </div>
        <div id="noResult" *ngIf="!hasSearchResults">Pas de résutlats</div>

        <mat-selection-list #sheetList>
          <mat-list-option *ngFor="let sheet of filteredSheets" [value]="sheet">
            <span matLine>{{sheet.title}}</span>
            <p matLine>{{sheet.author}}</p>
          </mat-list-option>
        </mat-selection-list>
      </div>

      <!-- Table -->
      <div class="rounded mat-elevation-z1" [ngClass]='hasSheets ? "visible": "collapsed"'>
        <mat-table [dataSource]="dataSource" matSort>
          <!-- Title column -->
          <ng-container matColumnDef="sheetTitle">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Titre</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.title}}</mat-cell>
          </ng-container>

          <!-- Author column -->
          <ng-container matColumnDef="author">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Auteur</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.author}}</mat-cell>
          </ng-container>

          <!-- Symbol column -->
          <ng-container matColumnDef="symbol">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell id="detailsSymbol" *matCellDef="let element; let i = index;">
              <a (click)="removeSheet(i)" mat-button>
                <mat-icon>delete_outline</mat-icon>
              </a>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Validation</ng-template>
      <div>
        <button id="validate" mat-button (click)="saveConcert()">
          <mat-icon>done</mat-icon>
          Enregistrer
        </button>
      </div>
    </mat-step>
  </mat-vertical-stepper>
</div>
