@import "./variables.scss";

.event-date {
    text-transform: capitalize;
    font-weight: bold;
}

.event-text {
    max-width: calc(100% - 156px);
}

.mat-list-item:nth-child(even){
    background-color: $tableFirstColor;
    border-bottom: 1px dashed $primaryColor;
}

.mat-list-item:nth-child(odd){
    background-color: #f0f0f0;
    border-bottom: 1px dashed $primaryColor;
}

.mat-list-item:last-child {
    border-bottom-color: rgba(0,0,0,0);
}

.mat-list-base {
    padding-top: 0px;
    border-radius: 20px;
    overflow: hidden;
}

.attendance-input-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.radiobtn {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.attendance-input {
    position: relative;
    display: inline-block;
    height: 44px;
    width: 44px;
    line-height: 44px;
    text-align: center;
    margin: 0 0 0 7px;
    background-color: #e7e7e7;
    color: silver;
    vertical-align: top;
    border-radius: 5px;
    font-size: .8em;
    cursor: pointer;
    transition: .3s ease-out;
    transition-property: all;
}

.mat-card {
    max-width: 60%;
    margin: auto;
    min-width: 250px;
    border: 1px solid #000000;
    padding: 0px;
    border-radius: 20px;
}

#yes::before {
    content: "✔"; 
    font-family: 'DoodleIcons',sans-serif;
    font-size: 18px;
}

#yes.active {
    background-color: $yesColor;
    color: #ffffff;
}

#maybe::before {
    content: "❓";
    font-size: 13px;
    font-family: 'DoodleIcons',sans-serif;
}

#maybe.active {
    background-color: $maybeColor;
    color: #ffffff;
}

#no::before {
    content: "❌";
    font-size: 18px;
    font-family: 'DoodleIcons',sans-serif;
}

#no.active {
    background-color: $noColor;
    color: #ffffff;
}

ul {
    position: absolute;
    top: 35px;
    right: 10px;
}

@font-face{
    font-family: 'DoodleIcons';
    src: url("../../../src/assets/fonts/doodleIcons.woff") format('woff');
    font-weight: 400;
    font-style: normal;
}

@media only screen and (max-width: 425px) {
    .attendance-input {
        position: relative;
        display: inline-block;
        height: 38px;
        width: 38px;
        line-height: 38px;
        text-align: center;
        margin: 0 0 0 7px;
        background-color: #e7e7e7;
        color: silver;
        vertical-align: top;
        border-radius: 5px;
        font-size: .8em;
        cursor: pointer;
        transition: .3s ease-out;
        transition-property: all;
    }

    .mat-card {
        max-width: 100%;
        margin: auto;
        min-width: 250px;
    }
}