$color: #200f46;

#container {
    font-family: "Poppins", sans-serif;
    margin: 20px;
}

::ng-deep .mat-vertical-stepper-header .mat-step-icon {
    background-color: $color;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: $color
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: $color
}

::ng-deep .mat-input-element {
    caret-color: $color
}

form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(auto, 500px));
}


#validate {
    border: 1px solid $color;
    width: 100%;
    color: $color;
}