$color: #200f46;

#container {
    font-family: "Poppins", sans-serif;
    margin: 20px;
}

::ng-deep .mat-vertical-stepper-header .mat-step-icon {
    background-color: $color;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: $color
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: $color
}

::ng-deep .mat-input-element {
    caret-color: $color
}

::ng-deep .mat-pseudo-checkbox-checked {
    background: $color;
}

form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(auto, 500px));
}

.visible {
    visibility: visible;
}

.hidden {
    visibility: hidden;
}

.collapsed {
    visibility: collapse;
}

#validate {
    border: 1px solid $color;
    width: 100%;
    color: $color;
}

.mat-list-option:nth-child(even){
    background-color: #ffffff;
}

.mat-list-option:nth-child(odd){
    background-color: #f8f8f8;
}

#search-sheets {
    margin: 10px 0px;
    padding: 20px;
}

.mat-selection-list {
    max-height: 216px; 
    overflow: auto;
}

#noResult {
    font-style: italic;
    color: #d3d3d3;
}

#sm-button {
    margin-left: -10px;
    margin-top: 10px;
}

.search-container {
    display: flex;
    justify-content: space-between;
}