@import "./variables.scss";

.content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap: 20px;
}

.mat-card-header {
    font-family: "Poppins", sans-serif;
    color: $primaryColor;
    height: 30px;
}

.info-label {
    font-weight: bold;
}

.grid-container {
    display: table;
}
.grid-row {
    display: table-row;
}
.grid-cell {
    display: table-cell;
    padding: 3px 6px;
}

.mat-card {
    border: 1px solid #000000;
}

.header-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.mat-mini-fab {
    margin: 24px 20px 24px 0px;
    background-color: $primaryColor;
    box-shadow: none;
}