$color: #200f46;

::ng-deep .mat-vertical-stepper-header .mat-step-icon {
    background-color: $color;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: $color
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: $color
}

::ng-deep .mat-input-element {
    caret-color: $color
}

::ng-deep .mat-accent .mat-pseudo-checkbox-checked, .mat-pseudo-checkbox-checked {
    background: $color;
}

form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(auto, 500px));
    grid-gap: 10px;
}

#submitButton {
    border: 1px solid $color;
    width: 100%;
    color: $color;
}

.searchSheets {
    margin: 0px 0px 10px 0px;
    padding: 20px;
    border: 1px solid $color;
    border-radius: 10px;
}

.searchFilter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.mat-selection-list {
    max-height: 216px; 
    overflow: auto;
}

#noResult {
    font-style: italic;
    color: #d3d3d3;
}

#sm-button {
    margin-left: -10px;
    margin-top: 10px;
}