@import "./variables.scss";

body,
html {
  margin: 0px auto;
}

mat-sidenav-content {
  background: $backgroundColor;
}

.header {
  font-family: $secondaryFont;
  margin: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-buttons {
  display: flex;
}

.header-buttons a .mat-icon {
  font-size: 32px;
  margin-bottom: 9px;
  margin-right: 6px;
}

.content {
  margin: 0px 20px 20px 20px;
}

.filter {
  text-align: right;
  margin: 0px 20px;
}

.rounded {
  border-radius: 20px;
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

.collapsed {
  visibility: collapse;
}