@import "./variables.scss";

.mat-row:nth-child(even), .mat-list-option:nth-child(even){
  background-color: $tableFirstColor;
  &:hover{
    background-color: $tableHoverColor;
  }
}

.mat-row:nth-child(odd), .mat-list-option:nth-child(odd){
  background-color: $tableSecondColor;
  &:hover{
    background-color: $tableHoverColor;
  }
}

.mat-cell {
  word-break: break-word;
}

.mat-header-cell {
  background: $secondaryColor;
  word-break: keep-all;
}

.mat-header-row {
  border-bottom-color: black;
}

.mat-row {
  cursor: pointer;
  border-bottom-color: rgba(0,0,0,.4);
}

.mat-row:last-child {
  border-bottom-color: rgba(0,0,0,0);
}

.mat-table {
  background: #ffffff;
  overflow: hidden;
  border-radius: 20px;
  border: 1px solid #000000;
}

button.mat-sort-header-button {
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
  font-size: larger;
  font-family: $secondaryFont;
}

.mat-column-title {
  flex: 0 0 50%;
}

.mat-column-date {
  flex: 0 0 25%;
}

.mat-column-symbol {
  flex: 0 0 10%;
}

.mat-paginator {
  color: #000000
}