.mat-row:nth-child(even){
  background-color: #ffffff;
}

.mat-row:nth-child(odd){
  background-color: #f8f8f8;
}

#detailsSymbol, #addSymbol {
  width: 38px;
}

#addSymbol a {
  cursor: pointer;
}

#detailsSymbol .mat-button {
  min-width: 38px;
  padding: 0px 5px;
  border-radius: 20px;
  background-color: #f0f0f0;
  border: 1px solid lightgrey;
}

#addSymbol .mat-button {
  min-width: 38px;
  padding: 0;
  border-radius: 20px;
  color: lightgray;
  -webkit-text-fill-color: black;
}

#addSymbol .mat-button:hover {
  background-color: #ffffff;
  color: #000000;
}

#addSymbol .mat-icon {
  width: auto;
  height: auto;
  font-size: 36px;
}

td.mat-cell {
  padding: 0px 6px 0px 6px !important;
  word-break: break-word;
}

th.mat-header-cell {
  padding: 0px 6px 0px 6px !important;
  word-break: keep-all;
}

td.mat-cell:first-of-type, th.mat-header-cell:first-of-type {
  padding: 0px 6px 0px 12px !important;
}

table {
  width: 100%;
}

.mat-table {
  background: #ffffff;
  overflow: hidden;
  border-radius: 20px;
}

button.mat-sort-header-button {
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
  font-size: larger;
  font-family: "Poppins", sans-serif;
}
  