.mat-row:nth-child(even){
  background-color: #ffffff;
  &:hover{
    background-color: lightgoldenrodyellow;
  }
}

.mat-row:nth-child(odd){
  background-color: #f8f8f8;
  &:hover{
    background-color: lightgoldenrodyellow;
  }
}

.mat-cell {
  word-break: break-word;
}

.mat-header-cell {
  word-break: keep-all;
}

.mat-row {
  cursor: pointer;
}

.mat-table {
  background: #ffffff;
  overflow: hidden;
  border-radius: 20px;
}

button.mat-sort-header-button {
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
  font-size: larger;
  font-family: "Poppins", sans-serif;
}
  