$primaryColor: #200f46;
$secondaryColor: #b9a8df;
$footerColor: #d3d3d3;
$backgroundColor: #f9f9f9;
$tableFirstColor: #ffffff;
$tableSecondColor: #f0f0f0;
$tableHoverColor: #ffeddd;

$primaryFont: "Roboto", sans-serif;
$secondaryFont: "Poppins", sans-serif;