<app-error-handler></app-error-handler>
<div class="header">
  <div class=header-title>
    <a (click)="clickPrevious()" mat-mini-fab>
      <mat-icon>keyboard_backspace</mat-icon>
    </a>
    <h1>{{title}}</h1>
  </div>
  <div class="header-buttons"></div>
</div>

<app-filter [dataSource]="dataSource"></app-filter>

<div class="content">
  <div class="rounded mat-elevation-z2">
    <mat-table [dataSource]="dataSource" matSort>
      <!-- Name column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Nom</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
      </ng-container>

      <!-- Firstname column -->
      <ng-container matColumnDef="firstname">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Prénom</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.firstname}}</mat-cell>
      </ng-container>

      <!-- Phone column -->
      <ng-container matColumnDef="phone">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Téléphone</mat-header-cell>
        <mat-cell id="multiLineCell" *matCellDef="let element">
          <span class="line-cell">{{element.phone}}</span>
          <span class="line-cell">{{element.mobile}}</span>
        </mat-cell>
      </ng-container>

      <!-- Email column -->
      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.email}}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row matRipple *matRowDef="let row; columns: displayedColumns;" [routerLink]="['/benefactors', row.id]"
        routerLinkActive="active"></mat-row>
    </mat-table>
    <app-loader></app-loader>
    <mat-paginator [pageSizeOptions]="[25, 50, 100]" showFirstLastButtons></mat-paginator>
  </div>

</div>