<mat-toolbar color="primary">
  <mat-toolbar-row class="toolbar-row">
    <div id="menu-icon" [className]="className" (click)="sidenav.toggle(); modifyMenuIcon()" fxShow="true" fxHide.gt-sm>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <span>H3C</span>
    <span class="spacer"></span>
    <div fxShow="true" fxHide.lt-md="true">
      <a routerLink="/sheets" routerLinkActive="active" mat-button>
        <mat-icon>music_note</mat-icon>
        Partitions
      </a>
      <a routerLink="/concerts" routerLinkActive="active" mat-button>
        <mat-icon>event_note</mat-icon>
        Concerts
      </a>
      <a href="#" mat-button>
        <mat-icon>account_box</mat-icon>
        Mon compte
      </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="container">
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <a routerLink="/sheets" routerLinkActive="active" (click)="sidenav.toggle()" mat-list-item>
        <mat-icon>music_note</mat-icon>
        Partitions
      </a>
      <a routerLink="/concerts" routerLinkActive="active" (click)="sidenav.toggle()" mat-list-item>
        <mat-icon>event_note</mat-icon>
        Concerts
      </a>
      <a href="#" mat-list-item>
        <mat-icon>account_box</mat-icon>
        Mon compte
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content fxFlexFill>
    <router-outlet></router-outlet>
    <footer class="footer">
      <span>Harmonie du 3ème canton - Reims - 2019</span>
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>
