table {
    width: 100%;
}

#container {
    font-family: "Poppins", sans-serif;
    margin: 20px;
}

.filter {
    text-align: right;
}

::ng-deep button.mat-sort-header-button {
    text-transform: uppercase;
    color: #808488;
}

.mat-row:nth-child(even){
    background-color: #ffffff;
}

.mat-row:nth-child(odd){
    background-color: #f8f8f8;
}

#symbolRow {
    padding-right: 5px;
    width: 64px;
    cursor: pointer;
}