<app-loader></app-loader>
<app-error-handler></app-error-handler>
<div id="container">
    <h1>{{title}}</h1>

    <div class="filter">
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtre">
        </mat-form-field>
    </div>
    
    <div class="rounded mat-elevation-z6">
        <table mat-table [dataSource]="dataSource" matSort>
            <!-- Id column -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>No.</th>
                <td mat-cell *matCellDef="let element">{{element.id}}</td>
            </ng-container>

            <!-- Title column -->
            <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Titre</th>
                <td mat-cell *matCellDef="let element">{{element.title}}</td>
            </ng-container>
        
            <!-- Author column -->
            <ng-container matColumnDef="author">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Auteur</th>
                <td mat-cell *matCellDef="let element">{{element.author}}</td>
            </ng-container>
        
            <!-- Composer column -->
            <ng-container matColumnDef="composer">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Compositeur</th>
                <td mat-cell *matCellDef="let element">{{element.composer}}</td>
            </ng-container>

            <!-- Genre column -->
            <ng-container matColumnDef="genre">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Genre</th>
                <td mat-cell *matCellDef="let element">{{element.genre}}</td>
            </ng-container>

            <!-- Symbol column -->
            <ng-container matColumnDef="symbol">
                <th id="addSymbol" mat-header-cell *matHeaderCellDef>
                    <a *ngIf="hasRights" [routerLink]="['/sheets/steps']" routerLinkActive="active" mat-button>
                        <mat-icon>add_circle_outline</mat-icon>
                    </a> 
                </th>
                <td id="detailsSymbol" mat-cell *matCellDef="let element">
                    <a [routerLink]="['/sheets', element.id]" routerLinkActive="active" mat-button>
                        <mat-icon>search</mat-icon>
                    </a> 
                </td>
            </ng-container>

        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[25, 50, 100]" showFirstLastButtons></mat-paginator>
    </div>

</div>