<mat-toolbar color="primary">
    <!-- Primary row -->
    <mat-toolbar-row id="primaryToolbar">
      <img id="logo" src="../assets/img/logo.png" routerLink="/home" height="45" width="45">
      <span class="spacer"></span>
      <div>
        <button id="userButton" mat-button [matMenuTriggerFor]="menu">
            <mat-icon>account_circle</mat-icon>
            <mat-icon>arrow_drop_down</mat-icon>
        </button>
        <!-- Dropdown menu -->
        <mat-menu #menu yPosition="below" xPosition="before">
          <div style="text-align: center">
            <span id="connectedUser">
                <mat-icon>face</mat-icon>
                {{firstname}} {{lastname}}
              </span>
          </div>
          <hr>
          <div>
            <a class="menuButton" routerLink="/sheets" routerLinkActive="active" mat-button>
              Mon compte
            </a>
            <a class="menuButton" (click)="logout()" routerLinkActive="active" mat-button>
              Se déconnecter
            </a>
          </div>
        </mat-menu>
      </div>
    </mat-toolbar-row>
  
    <!-- Secondary row -->
    <mat-toolbar-row id="secondaryToolbar">
      <div id="menu-icon" [className]="menuButtonStyle" (click)="sidenav.toggle();" fxShow="true" fxHide.gt-sm>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div fxShow="true" fxHide.lt-md="true">
        <a routerLink="/home" routerLinkActive="active" mat-button>
          <mat-icon>home</mat-icon>
          Accueil
        </a>
        <a routerLink="/sheets" routerLinkActive="active" mat-button>
          <mat-icon>music_note</mat-icon>
          Partitions
        </a>
        <a routerLink="/concerts" routerLinkActive="active" mat-button>
          <mat-icon>event_note</mat-icon>
          Concerts
        </a>
      </div>
    </mat-toolbar-row>
  
  
  </mat-toolbar>
  
  <!-- Sidenav -->
  <mat-sidenav-container class="container">
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a routerLink="/home" routerLinkActive="active" (click)="sidenav.toggle()" mat-list-item>
          <mat-icon>home</mat-icon>
          Accueil
        </a>
        <a routerLink="/sheets" routerLinkActive="active" (click)="sidenav.toggle()" mat-list-item>
          <mat-icon>music_note</mat-icon>
          Partitions
        </a>
        <a routerLink="/concerts" routerLinkActive="active" (click)="sidenav.toggle()" mat-list-item>
          <mat-icon>event_note</mat-icon>
          Concerts
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <router-outlet></router-outlet>
      <footer class="footer">
        <span>Harmonie du 3ème canton - Reims - 2019</span>
      </footer>
    </mat-sidenav-content>
  </mat-sidenav-container>