<app-loader></app-loader>
<app-error-handler></app-error-handler>
<div class="header">
  <h1>{{title}}</h1>
</div>

<div class="content">
  <mat-card class="mat-elevation-z6">
    <mat-list #sheetList>
      <mat-list-item *ngFor="let attendance of attendances; let index = index">
        <span class="event-date event-text" matLine>{{attendance.date | date: "EEE dd MMMM"}}</span>
        <p class="event-text" matLine>{{attendance.name}}</p>
        <p class="event-text" matLine>{{attendance.location}}</p>
        <br matLine>
        <mat-form-field matLine>
          <textarea matInput placeholder="Commentaire" value="{{attendance.comment}}"
            (input)="modifyComment()"></textarea>
        </mat-form-field>

        <ul class="attendance-input-list">
          <li id="yes" [ngClass]='{"active": isAttendanceYes(attendance) }' class="attendance-input">
            <input class="radiobtn" type="radio" name="attendance-{{index}}" (click)="modifyAttendance(attendance, 1)">
          </li>
          <li id="maybe" [ngClass]='{"active": isAttendanceMaybe(attendance) }' class="attendance-input">
            <input class="radiobtn" type="radio" name="attendance-{{index}}" (click)="modifyAttendance(attendance, 3)">
          </li>
          <li id="no" [ngClass]='{"active": isAttendanceNo(attendance) }' class="attendance-input">
            <input class="radiobtn" type="radio" name="attendance-{{index}}" (click)="modifyAttendance(attendance, 2)">
          </li>
        </ul>
      </mat-list-item>
    </mat-list>

    <button *ngIf="isEdited" id="sm-button" mat-button>
      Enregistrer
    </button>
  </mat-card>
</div>
