#container {
    font-family: "Poppins", sans-serif;
    margin: 20px;
}

.status1 {
    background: green;
}

.status2 {
    background: red;
}

.status3 {
    background: yellow;
}

.status4 {
    background: grey;
}